#body
{
    width: 1250px;
    height: 1000px;
    margin: auto;
}
#head
{
    width: 1250px;
    height: 100px;
}
#headleft
{
    width: 800px;
    height: 100px;
    float: left;
}
#headleft
{
    font-family: YOUYuan;
    font-size: 60px;
    font-weight: 600;
    color: rgb(92, 160, 92);
}
#headright
{
    width: 450px;
    height: 100px;
    float: right;
}
#headtable
{
    width: 650px;
    height: 100px;
}
#menu
{
    width: 1250px;
    height: 200px;
}
#menuimg
{
    width: 1250px;
    height: 200px; 
}
#context
{
    height: 800px;
    width: 1250px;
}
#context1
{
    height: 100px;
    width: 1250px;
    text-align: center;
}
#contextspan
{
    font-family: YouYuan;
    font-size: 60px;
    font-weight: 600;
    color: yellowgreen;
}
.contextspan
{
    font-family: FangSong;
    font-size: 20px;
    font-weight: 600;

}
.context2
{
    height: 200px;
    width: 1250px;
    margin-top: 20px;
}
.contextimg
{
    height: 200px;
    width: 300px;
    border-radius: 30px;
    border: 2px solid wheat;
}
.contextimg:hover
{
    transform: scale(1.3,1.3);
}
.context3
{
    height: 200px;

    float: right;
    font-family: FangSong;
    font-size: 20px;
    font-weight: 600;
}
#foot
{
    height: 200px;
    width: 1250px;
    position: relative;
}
#footimg
{
    height: 200px;
    width: 800px;
    float: right;
    border-radius: 30px;
    border: 2px solid wheat;
}
.td:hover
{
    color:tomato;
}
.td
{
    cursor: pointer;

}
.footw
{
    height: 100px;
    width: 300px;
    float: left;
    font-family: YouYuan;
    font-size: 20px;
    font-weight: 600;
    color: yellowgreen;
}
.footw2
{
    height: 100px;
    width: 300px;
    font-size: 15px;
    float: left;
}
#ul li
{
    padding: 0px 3px;
    cursor: pointer;
    color: red;
    display: inline;
    border: 1px solid rgb(19, 235, 127);
    border-radius: 30px;
}
#ul
{
    position: absolute;
    bottom: -10px;
    right: 10px;
}
#ul li:hover
{
    background-color: violet;
    color: tomato;
}
